.render_3d{
    background-image: linear-gradient(to left top, #000000, #230615, #39042a, #20001f, #000000, #1e002e, #05000a, #110027, #210055, #0a002c, #140041, #000000);
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    
}
