.render_3d{
    background-image: linear-gradient(to left top, #000000, #230615, #39042a, #4b0047, #54006c, #4b0273, #3f067a, #2c0c82, #240e65, #1c0e49, #160a2f, #0a0016);
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    
}
